USE [STOCK]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[TELEFONO] [varchar](100) NULL,
	[MAIL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[TELEFONO] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIA_PRIMA]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIA_PRIMA](
	[ID_MATERIA] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NULL,
	[NOMBRE] [varchar](100) NULL,
	[STOCK_ACTUAL] [int] NULL,
	[COSTO_UNITARIO] [decimal](18, 2) NULL,
 CONSTRAINT [PK_MATERIA_PRIMA] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_PRODUCCION]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_PRODUCCION](
	[ID_ORDEN] [int] NOT NULL,
	[ID_MATERIA] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[CODIGO_PROD] [varchar](50) NULL,
	[FECHA_ORDEN] [datetime] NULL,
	[CANTIDAD_USADA] [int] NULL,
	[CANTIDAD_PROD] [int] NULL,
	[COSTO_TOTAL_ORDEN] [decimal](18, 0) NULL,
	[ESTADO] [varchar](20) NULL,
	[ID_EMPLEADO] [int] NULL,
 CONSTRAINT [PK_ORDEN_PRODUCCION] PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[CODIGO_PROD] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[PRECIO_VENTA] [decimal](18, 2) NULL,
	[STOCK_ACTUAL] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[TELEFONO] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MATERIA_PRIMA]  WITH CHECK ADD  CONSTRAINT [FK_MAT_PROV] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[MATERIA_PRIMA] CHECK CONSTRAINT [FK_MAT_PROV]
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION]  WITH CHECK ADD  CONSTRAINT [FK_ORD_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION] CHECK CONSTRAINT [FK_ORD_CLIENTE]
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_CODPRODUCTO] FOREIGN KEY([CODIGO_PROD])
REFERENCES [dbo].[PRODUCTO] ([CODIGO_PROD])
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION] CHECK CONSTRAINT [FK_ORDEN_CODPRODUCTO]
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION] CHECK CONSTRAINT [FK_ORDEN_EMPLEADO]
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_MATERIAPRIMA] FOREIGN KEY([ID_MATERIA])
REFERENCES [dbo].[MATERIA_PRIMA] ([ID_MATERIA])
GO
ALTER TABLE [dbo].[ORDEN_PRODUCCION] CHECK CONSTRAINT [FK_ORDEN_MATERIAPRIMA]
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTE_CRUD]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLIENTE_CRUD]
	@ACCION VARCHAR(100) = NULL,
	@ID_CLIENTE INT = NULL,
	@NOMBRE VARCHAR(100) = NULL,
	@TELEFONO VARCHAR(100) = NULL,
	@MAIL VARCHAR(100) = NULL
	AS
	BEGIN
		IF ( @ACCION = 'AGREGAR')
			BEGIN
				INSERT INTO CLIENTE (ID_CLIENTE,NOMBRE,TELEFONO,MAIL)
					VALUES(@ID_CLIENTE,@NOMBRE,@TELEFONO,@MAIL)
			END
		IF ( @ACCION = 'ELIMINAR')
			BEGIN
				DELETE FROM CLIENTE WHERE ID_CLIENTE = @ID_CLIENTE
			END
		IF( @ACCION = 'MODIFICAR')
			BEGIN
				UPDATE CLIENTE	
					SET 
						NOMBRE = @NOMBRE,
						TELEFONO = @TELEFONO,
						MAIL = @MAIL
					WHERE ID_CLIENTE = @ID_CLIENTE
			END
		IF ( @ACCION = 'OBTENER')
			BEGIN
				SELECT * FROM CLIENTE
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_CREAR_ORDEN_PRODUCCION]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Creates production order and updates stock in transaction
-- =============================================
CREATE PROCEDURE [dbo].[SP_CREAR_ORDEN_PRODUCCION]
	@ID_EMPLEADO INT,
	@ID_CLIENTE INT,
	@CODIGO_PROD VARCHAR(10),
	@FECHA_ORDEN DATE,
	@CANTIDAD_USADA DECIMAL(10,2),
	@CANTIDAD_PROD DECIMAL(10,2),
	@COSTO_TOTAL_ORDEN DECIMAL(10,2),
	@ESTADO VARCHAR(20)
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION;

		-- Insert into ORDEN_PRODUCCION
		INSERT INTO ORDEN_PRODUCCION (ID_EMPLEADO, ID_CLIENTE, CODIGO_PROD, FECHA_ORDEN, CANTIDAD_USADA, CANTIDAD_PROD, COSTO_TOTAL_ORDEN, ESTADO)
		VALUES (@ID_EMPLEADO, @ID_CLIENTE, @CODIGO_PROD, @FECHA_ORDEN, @CANTIDAD_USADA, @CANTIDAD_PROD, @COSTO_TOTAL_ORDEN, @ESTADO);

		-- Update stock in MATERIA_PRIMA
		UPDATE MATERIA_PRIMA
		SET STOCK_ACTUAL = STOCK_ACTUAL - @CANTIDAD_USADA
		WHERE ID_MATERIA IN (SELECT ID_MATERIA FROM ORDEN_PRODUCCION WHERE ID_ORDEN = SCOPE_IDENTITY());

		-- Update stock in PRODUCTO
		UPDATE PRODUCTO
		SET STOCK_ACTUAL = STOCK_ACTUAL + @CANTIDAD_PROD
		WHERE CODIGO_PROD = @CODIGO_PROD;

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		RAISERROR ('Error al crear la orden de producciÃ³n', 16, 1);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DUEÑO_CRUD]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DUEÑO_CRUD]
	@ACCION VARCHAR(100) = NULL,
	@ID_DUEÑO INT = NULL,
	@NOMBRE VARCHAR(100) = NULL,
	@TELEFONO VARCHAR(100) = NULL,
	@MAIL VARCHAR(100) = NULL
	AS
	BEGIN
		IF ( @ACCION = 'AGREGAR')
			BEGIN
				INSERT INTO DUEÑO (ID_DUEÑO,NOMBRE,TELEFONO,MAIL)
					VALUES(@ID_DUEÑO,@NOMBRE,@TELEFONO,@MAIL)
			END
		IF ( @ACCION = 'ELIMINAR')
			BEGIN
				DELETE FROM DUEÑO WHERE ID_DUEÑO = @ID_DUEÑO
			END
		IF( @ACCION = 'MODIFICAR')
			BEGIN
				UPDATE DUEÑO
					SET 
						NOMBRE = @NOMBRE,
						TELEFONO = @TELEFONO,
						MAIL = @MAIL
					WHERE ID_DUEÑO = @ID_DUEÑO
			END
		IF ( @ACCION = 'OBTENER')
			BEGIN
				SELECT * FROM DUEÑO
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_ORDENES]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Lists all production orders with details
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_ORDENES]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		O.ID_ORDEN,
		O.ID_EMPLEADO,
		E.NOMBRE AS NOMBRE_EMPLEADO,
		O.ID_CLIENTE,
		C.NOMBRE AS NOMBRE_CLIENTE,
		O.CODIGO_PROD,
		P.NOMBRE AS NOMBRE_PRODUCTO,
		O.FECHA_ORDEN,
		O.CANTIDAD_USADA,
		O.CANTIDAD_PROD,
		O.COSTO_TOTAL_ORDEN,
		O.ESTADO
	FROM ORDEN_PRODUCCION O
	LEFT JOIN EMPLEADO E ON O.ID_EMPLEADO = E.ID_EMPLEADO
	LEFT JOIN CLIENTE C ON O.ID_CLIENTE = C.ID_CLIENTE
	LEFT JOIN PRODUCTO P ON O.CODIGO_PROD = P.CODIGO_PROD;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MATERIA_CRUD]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MATERIA_CRUD]
	@ACCION VARCHAR(10),
	@ID_MATERIA_PRIMA INT = NULL,
	@ID_PROVEEDOR INT,
	@NOMBRE VARCHAR(100),
	@STOCK_ACTUAL DECIMAL(10,2),
	@COSTO_UNITARIO DECIMAL(10,2)
AS
BEGIN
	SET NOCOUNT ON;

	IF NOT EXISTS (SELECT 1 FROM PROVEEDOR WHERE ID_PROVEEDOR = @ID_PROVEEDOR)
	BEGIN
		RAISERROR ('Proveedor no existe', 16, 1);
		RETURN;
	END

	IF @ACCION = 'INSERT'
	BEGIN
		INSERT INTO MATERIA_PRIMA (ID_PROVEEDOR, NOMBRE, STOCK_ACTUAL, COSTO_UNITARIO)
		VALUES (@ID_PROVEEDOR, @NOMBRE, @STOCK_ACTUAL, @COSTO_UNITARIO);
	END
	ELSE IF @ACCION = 'UPDATE'
	BEGIN
		UPDATE MATERIA_PRIMA
		SET ID_PROVEEDOR = @ID_PROVEEDOR, NOMBRE = @NOMBRE, STOCK_ACTUAL = @STOCK_ACTUAL, COSTO_UNITARIO = @COSTO_UNITARIO
		WHERE ID_MATERIA = @ID_MATERIA_PRIMA;
	END
	ELSE IF @ACCION = 'DELETE'
	BEGIN
		DELETE FROM MATERIA_PRIMA
		WHERE ID_MATERIA = @ID_MATERIA_PRIMA;
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTO_CRUD]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	CRUD operations for Producto
-- =============================================
CREATE PROCEDURE [dbo].[SP_PRODUCTO_CRUD]
	@ACCION VARCHAR(10),
	@CODIGO_PROD VARCHAR(10) = NULL,
	@NOMBRE VARCHAR(100) = NULL,
	@PRECIO_VENTA DECIMAL(10,2) = NULL,
	@STOCK_ACTUAL INT = NULL
AS
BEGIN

	IF @ACCION = 'AGREGAR'
	BEGIN
		INSERT INTO PRODUCTO (CODIGO_PROD, NOMBRE, PRECIO_VENTA, STOCK_ACTUAL)
		VALUES (@CODIGO_PROD, @NOMBRE, @PRECIO_VENTA, @STOCK_ACTUAL);
	END
	ELSE IF @ACCION = 'MODIFICAR'
	BEGIN
		UPDATE PRODUCTO
		SET NOMBRE = @NOMBRE, PRECIO_VENTA = @PRECIO_VENTA, STOCK_ACTUAL = @STOCK_ACTUAL
		WHERE CODIGO_PROD = @CODIGO_PROD;
	END
	ELSE IF @ACCION = 'ELIMINAR'
	BEGIN
		DELETE FROM PRODUCTO
		WHERE CODIGO_PROD = @CODIGO_PROD;
	END
	ELSE IF @ACCION = 'OBTENER'
	BEGIN
		SELECT * FROM PRODUCTO
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDOR_CRUD]    Script Date: 27/10/2025 14:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	CRUD operations for Proveedor
-- =============================================
CREATE PROCEDURE [dbo].[SP_PROVEEDOR_CRUD]
	@ACCION VARCHAR(10),
	@ID_PROVEEDOR INT = NULL,
	@NOMBRE VARCHAR(100),
	@TELEFONO VARCHAR(20),
	@EMAIL VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;

	IF @ACCION = 'INSERT'
	BEGIN
		INSERT INTO PROVEEDOR (NOMBRE, TELEFONO, EMAIL)
		VALUES (@NOMBRE, @TELEFONO, @EMAIL);
	END
	ELSE IF @ACCION = 'UPDATE'
	BEGIN
		UPDATE PROVEEDOR
		SET NOMBRE = @NOMBRE, TELEFONO = @TELEFONO, EMAIL = @EMAIL
		WHERE ID_PROVEEDOR = @ID_PROVEEDOR;
	END
	ELSE IF @ACCION = 'DELETE'
	BEGIN
		DELETE FROM PROVEEDOR
		WHERE ID_PROVEEDOR = @ID_PROVEEDOR;
	END
END

GO
